---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Prince Suwal" description="Welcome to my official site hosted on GitHub Pages.">
  <h1>Hello, I'm Prince</h1>
  <p>Software and automation enthusiast.</p>
</Layout>